{% extends "home/base.html" %}


{% block content %}

    <div class="row">
        <!-- parte izquierda de la web -->
        <div class="col-sm-3 ">
            <div class="d-flex flex-row flex-column color1">
                {% if user.is_authenticated %}
                <a class="p-2 mark-button box-shadow" href="{% url 'favorites' %}">Favoritos</a>
                {% endif %}
                <div class="nav-category box-shadow">Categorias</div>
            </div>
        </div>

        <!-- Parte derecha de la web -->
        <div class="col-sm ">
            <div class="d-flex flex-row flex-wrap lang-select box-shadow">
                <!-- Caja de selección de lenguajes -->
                <div class="p-2 lang-selector-text">
                        <p class="align-middle">Selecciona múltiples lenguajes para comparar!</p>
                </div>

                <!-- iterable de lenguajes  todo : front end - imagen y css-->

                {% for lang in posts %}
                    {% if lang.active %}
                        <div class="p-1">
                            <img class="lang-img" src="{{ lang.language.img.url }}" >
                            <p class="lang-text">{{ lang.language.name }}</p>
                        </div>
                    {% endif %}
                {% endfor %}


            </div>
            <!-- Syntax Post  Tipo : Iterable -->
            {% block syntaxposts %}

            {% endblock syntaxposts %}
            {% comment %}
{% endcomment %}




            <!--div>
                iterables post

            </div-->
        </div>
    </div>

{% endblock content %}
