{% extends 'home/panel/panel.html' %}

{% block panelcontent %}


    <div class="row font-raleway">
    <div class="card w-100 m-2">
      <div class="card-header">
          {{ syntaxpost.language.name }} - {{ syntaxpost.sentence.name }}
      </div>

      <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="card-title"><small>Creado por</small> {{ syntaxpost.author.username}}</h5>
                <small class="mt-1"></small>
        </div>
      </div>


      <ul class="list-group list-group-flush">

          {% comment %}<li class="list-group-item">
            <p class="font-montserrat">Problema : {{ report.description }}</p>
          </li>{% endcomment %}
          <li class="list-group-item">
            <div class="d-flex flex-row syntax-post box-shadow">


                <div class="col font-raleway">
                    <!-- div de arriba con solo syntax -->
                    <div class="m-3">
                        <div class="w-75">
                            <form method="POST" action="">
                                {% csrf_token %}
                                {{ form.media }}
                                {{ form }}
                                <input class="btn btn-outline-success" type="submit" value="Guardar cambios">
                            </form>

                        </div>
                    </div>
                    <!-- div de abajo con botones -->
                </div>
            </div>
            </li>




{% comment %}       <li class="list-group-item ">
            <div class="float-right">
                <a href="#" class="btn btn-danger "> Borrar reporte </a>
                {% if report.resolved == 'N' %}
                    <a href="{% url 'changeToResolved' id=report.id %}" class="btn btn-success"> Marcar como resuelto </a>
                {% endif %}
            </div>
        </li>{% endcomment %}

      </ul>
    </div>
    </div>



{% endblock %}