{% extends 'home/panel/panel.html' %}
{% load humanize %}

{% block panelcontent %}


    <h2 class="text-center font-montserrat"><b> Listado de sugerencias</b></h2>
    <div class="font-raleway">
        {% for sugerencia in object_list %}

            <div class="list-group mb-2 animated flipInX">
              <div class="list-group-item list-group-item-action flex-column align-items-start box-shadow">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{sugerencia.langName}} - v : {{sugerencia.langVer}}</h5>
                </div>
                <p class="mb-1">{{ sugerencia.comments| safe}}</p>
                <small><strong><a href="{{ sugerencia.website }}" target="_blank">{{ sugerencia.website }}</a> </strong></small> 
              </div>
            </div>

        {% empty %}
          <div class="alert alert-info mt-4 animated flipInX" role="alert">

                <h5 class="text-center font-montserrat ">Nadie ha mandado sugerencias aún.</h5>
            </div>
        {% endfor %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    {% endif %}
                    <span class="page-current">
                        Pag {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}

    </div> 




{% endblock%}