{% extends "home/base.html" %}

{%  block content %}
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="d-flex flex-column side-panel p-2 mt-2 sticky-top box-shadow animated pulse">

            <h2 class="text-center font-montserrat"><b>Admin Panel </b></h2>

          <div class="dropdown-divider"></div>

          <a href="{% url 'suggestionslist' %}" class="text-left btn btn-info  btn-block   font-montserrat" role="button" aria-pressed="true">
            Listado de sugerencias
          </a> 
            <a href="{% url 'langs' %}" class="button-effect text-left  btn btn-info  btn-block font-montserrat" role="button" aria-pressed="true">
            Lenguajes activos
          </a>
              <a href="{% url 'langpulls' %}" class="text-left  btn btn-info  btn-block font-montserrat" role="button" aria-pressed="true">
            Lenguajes desactivados
          </a>
            <hr>
            <a href="{% url 'reports' %}" class="text-left btn btn-info btn-block  font-montserrat" role="button" aria-pressed="true">
            Reportes activos
          </a>
          <a href="{% url 'reportsResolved' %}" class="text-left btn btn-info  btn-block   font-montserrat" role="button" aria-pressed="true">
            Historial reportes
          </a>
            <div class="dropdown-divider"></div>
           <a href="{% url 'contactlist' %}" class="text-left btn btn-info  btn-block   font-montserrat" role="button" aria-pressed="true">
            Listado de contactos 
          </a> 

        </div>

      </div>


      <div class="col-xs-12 col-sm-9 mt-2">
          <div class="panel-card">
              {% block panelcontent %}

              {%  endblock %}

          </div>

      </div>

    </div>



{% endblock %}