/* General */



.container-custom{
    width: 35%;
    margin:auto;
    margin-top:40px;
    padding:20px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header{
    height: 40px;
    background-color: #343637;
}

.logo{
    height: 30px;
}

.footer{
    position: fixed;    
    height: 30px;
    background-color: #1d1d1d;
    left:0;
    bottom:0;
    width : 100% ;
    text-align: center;
}


.container-fluid{
    margin-bottom: 42px;
}

.box-shadow{
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Parte derecha Web --------------------------- */

.lang-select{
    margin:11px 0px 0px 0px;
    min-height: 63px;
    background-color:  rgba(249, 254, 255, 0.9);
    border:solid 1px #54b0f2;
}


.lang-selector-text{
    font-stretch: condensed;
    font-family: Roboto,serif;
    font-size: 16px;
    width: 200px;
    color : #31758a;
}

.lang-text{
    font-stretch: condensed;
    font-family: Roboto,serif;
    font-size: 16px;
    color : #31758a;
    margin-bottom: 0px;
}

.lang-img{
    width: 45px;
}

.add-buttom{
    color: #17a2b8;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2.3em;
}

.syntax-post{
    margin-top:6px;
    min-height:250px;
    background-color: #ebebeb;
}



.left-frame{
    background-color: #f4f4f4;
}

/* Parte izquierda web  ---------------------  */

.mark-button{
    margin-top:11px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: whitesmoke;
}

.nav-category{
    margin-top:6px;
    background-color: #f5f5f5;
    /* min-height: 528px; */
    min-height: 80vh;
}

/* General css */
.font-montserrat{font-family: 'Montserrat',sans-serif;}
.font-raleway{font-family: 'Raleway',sans-serif;}

.text-wraped{
    overflow-wrap: break-word;
    word-wrap: break-word;   
}

.testo{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link-nodec{
    text-decoration: none;

}

/* /panel css  */

.panel-card{
  max-width: 100%;
}

.side-panel{
  max-width: 100%;
  border-radius: 8px;
  background-color: #ededed;

}

.list-group-item.active{
    background-color:#46858f !important;
    border-color: #118294 !important;
}

/* effect */


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.4); }